{% extends 'base.html' %}

{% block header_text %}Your To-Do list{% endblock %}

{% block form_action %}{% url 'view_list' list.id %}{% endblock %}

{% block table %}
    <h3><span id="id_list_owner">{{ list.owner.email }}</span>'s List</h3>
    <table id="id_list_table" class="table">
        {% for item in list.item_set.all %}
            <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
        {% endfor %}
    </table>


{% endblock %}

{% block extra_content %}
    <div class="col-md-6">
        <ul>
            {% for sharee in list.shared_with.all %}
            <li class="list-sharee">{{ sharee.email }}</li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="col-md-4 col-md-offset-1">
        <form class="form-inline" method="POST" action={% url 'share_list' list.id %}>
            <input type="text" name="email" placeholder="your-friend@example.com" />
            {% csrf_token %}
        </form>
    </div>
{% endblock %}
